Repository Code2Gether-Discord/Congo, pull requests merged in 2021-11, with the labels that each got.

#77 Feature/68 add code for adding product to database on add product page
  src/Congo.Blazor/Pages/ProductAdd.razor
  src/Congo.Blazor/Shared/AddProductDialog.razor
  src/Congo.Blazor/Shared/MainLayout.razor
  src/Congo.Blazor/_Imports.razor
  src/Congo.Contracts/Clients/ICongoSellerClient.cs
  src/Congo.WebApi/Controllers/SellerProductsController.cs
  src/Congo.WebApi/Startup.cs
Labels: api, blazor, task

#78 Implement CORS for WebAPI project
  src/Congo.WebApi/Startup.cs
Labels: api

#82 remove duplicate project reference in razor proj
  src/Congo.RazorPages/Congo.RazorPages.csproj
Labels: bug

#81 Add Cart Endpoint
  src/Congo.Contracts/Responses/Cart/CartItemResponse.cs
  src/Congo.Contracts/Responses/Cart/CartResponse.cs
  src/Congo.WebApi/Congo.WebApi.csproj
  src/Congo.WebApi/Controllers/CartController.cs
  src/Congo.WebApi/Data/CartAccess/CartQueries.cs
  src/Congo.WebApi/Data/CartAccess/GetCartHandler.cs
  src/Congo.WebApi/Data/CongoContext.cs
  src/Congo.WebApi/Data/Migrations/20211106222650_carts.Designer.cs
  src/Congo.WebApi/Data/Migrations/20211106222650_carts.cs
  src/Congo.WebApi/Extensions/MapperExtensions.cs
  src/Congo.WebApi/Startup.cs
Labels: api

#91 test: ✅ xunit init and tests for webapi
  Congo.sln
  src/Congo.WebApi.Tests/Congo.WebApi.Tests.csproj
  src/Congo.WebApi.Tests/Controllers/CartControllerTests.cs
  src/Congo.WebApi.Tests/Controllers/ProductsControllerTests.cs
  src/Congo.WebApi.Tests/Controllers/SellerProductsControllerTests.cs
  src/Congo.WebApi/Controllers/CartController.cs
  src/Congo.WebApi/Controllers/ProductsController.cs
  src/Congo.WebApi/Controllers/SellerProductsController.cs
Labels: enhancement, api, refactor
