Repository Code2Gether-Discord/Congo, pull requests merged in 2021-10, with the labels that each got.

#23 Product Page
  src/Congo.RazorPages/Congo.RazorPages.csproj
  src/Congo.RazorPages/Models/Product.cs
  src/Congo.RazorPages/Pages/Products.cshtml
  src/Congo.RazorPages/Pages/Products.cshtml.cs
  src/Congo.RazorPages/Pages/Shared/_Layout.cshtml
  src/Congo.RazorPages/Services/IProductsService.cs
  src/Congo.RazorPages/Services/ProductsService.cs
Labels: razor, task

#25 Added Mediatr
  src/Congo.WebApi/Congo.WebApi.csproj
  src/Congo.WebApi/Controllers/DemoProductController.cs
  src/Congo.WebApi/Data/CongoContext.cs
  src/Congo.WebApi/Data/ProductAccess/GetProductListHandler.cs
  src/Congo.WebApi/Data/ProductAccess/GetProductListQuery.cs
  src/Congo.WebApi/Data/ProductAccess/InsertProductCommand.cs
  src/Congo.WebApi/Startup.cs
Labels: api, task

#29 Added root .editorconfig
  .editorconfig
Labels: api, razor, blazor

#31 Added a contracts project
  Congo.sln
  src/Congo.Contracts/Congo.Contracts.csproj
  src/Congo.Contracts/Responses/Products/ProductResponse.cs
Labels: api, razor, blazor

#34 Added support for JetBrains Rider users
  .gitignore
Labels: api, razor, blazor

#39 Unified the API contracts
  src/Congo.Contracts/Responses/Orders/OrderConfirmationResponse.cs
  src/Congo.WebApi/Congo.WebApi.csproj
  src/Congo.WebApi/Contracts/Responses/OrderConfirmationResponse.cs
  src/Congo.WebApi/Controllers/ProductsController.cs
Labels: api

#42 Added user secrets id in WebApi project file
  README.md
  src/Congo.WebApi/Congo.WebApi.csproj
Labels: api

#44 Add solution level items as solution items
  Congo.sln
Labels: api

#47 Menu Buttons added
  src/Congo.Blazor/Pages/Index.razor
  src/Congo.Blazor/Shared/MainLayout.razor
  src/Congo.Blazor/Shared/NavMenu.razor
Labels: blazor, task
